LEADER_ROLE=leader
LEADER_PORT=8000
WRITE_QUORUM=3
MIN_DELAY=0
MAX_DELAY=1000
FOLLOWER_URLS=http://follower1:8000,http://follower2:8000,http://follower3:8000,http://follower4:8000,http://follower5:8000

FOLLOWER_ROLE=follower
FOLLOWER_PORT=8000
